body {
    width: 700px;
    margin: 100px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: center;
    text-decoration: none;
}

header h1 {
    border-bottom: 1px solid #aaa; 
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.options {
    margin-top: 30px;
    padding: 20px;
    border: none; 
    display: block; 
    text-align: center;
}

.options button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 25px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0; 
    transition: background-color 0.3s;
    width: 300px; 
    
}

.options button:hover {
    background-color: #0056b3;
}

.options a {
    text-decoration: none; 
    display: block;
}

.options p {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc; 
    margin: 30px auto;
    width: 50%;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}

footer a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}