body {
    width: 900px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: center;
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid #aaa; 
    padding-bottom: 10px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

th {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 12px 8px;
    text-align: left;
    color: #333;
    font-weight: bold;
}

td {
    border: 1px solid #eee;
    padding: 10px 8px;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td form {
    margin: 0;
    padding: 0;
    display: inline-block;
}

input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s;
    width: auto;
    
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}