body {
    width: 700px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 25px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-decoration: none;
}

label {
    margin-top: 20px;
    display: block;
}

input[type = "submit"] {
    margin-top: 20px;
    padding: 10px 15px; 
}

input[type="range"], input[type="text"], select {
    width: 560px;
    height: 30px;
    font-size: 17px;
}